/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0; /* Adiciona padding zero */
    background-color: rgb(5, 27, 37);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); 
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altera de height para min-height */
    background-color: rgb(5, 27, 37);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttonHolder{
    position: relative;
  }

 

  svg{
    position: absolute;
  }

  .electric{
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(41, 41, 41, 0.986);
    border: 2px solid rgb(125, 140, 255);
    color: white;
    position: relative;
    filter: blur(0px);
    margin-left: 800px; /* Mover o botão para a direita */
    bottom: -50px;
    top: -40px;
    left: 0;
  }

 
  @keyframes dash {
  to {
  stroke-dashoffset: 0;
  }
  }

  .yellow{
    width: 110%;
    stroke-dasharray: 300;
    stroke-dashoffset: 1000;
    animation: dash 1s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;


  }

  .blue{
    width: 110%;
    stroke-dasharray: 400;
    stroke-dashoffset: 1000;
    animation: dash 1.2s linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
   
  }

  #y1{
    top: -115%;
    left: -5%;
    filter: blur(.5px);

  }

  #y2{
    width: 120%;
    left: -10%;
    top: -155%;
    filter: brightness(1);
  }

  #b1{
    left: -5%;
    top: -125%;
    /* filter: blur(.5px) */
  }

  #b2{
    left: -10%;
    top: -165%;
    width: 120%;
    /* filter: blur(.5px) */
  }

  @keyframes dot1 {
    from{
      bottom: 0%;
      left: 10%;
      opacity: 1;
    }
    to{
      bottom: -30%;
      left: 0%;
      opacity: 0;
    }
  }
  @keyframes dot2 {
    from{
      top: 0%;
      left: 30%;
      opacity: 1;
    }
    to{
      top: -30%;
      left: 40%;
      opacity: 0;
    }
  }

  @keyframes dot3 {
    from{
      top: 0%;
      left: 80%;
      opacity: 1;
    }
    to{
      top: -30%;
      left: 80%;
      opacity: 0;
    }
  }
  @keyframes dot4 {
    from{
      bottom: 20%;
      left: 100%;
      opacity: 1;
    }
    to{
      bottom: 30%;
      left: 120%;
      opacity: 0;
    }
  }

  .part{
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background-color: rgb(27, 164, 255);
    z-index: 2;
    position: absolute;
    filter: blur(1px);
    display: none;
  }

  #part1{
    animation: dot1;
    transform-origin: center;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: infinite;
  }
  #part2{
    animation: dot2;
    transform-origin: center;
    animation-duration: 1.6s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: infinite;
  }
  #part3{
    animation: dot3;
    transform-origin: center;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: infinite;
  }

  #part4{
    animation: dot4;
    transform-origin: center;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: infinite;
  }

  .buttonHolder{
    width: max-content;
    max-height: 20px;
    
  }

  .hide{
    opacity: 0;
  }
 
  #electric:hover + .hide{
    opacity: 1 ;
  }
  #electric:hover  .hide{
    opacity: 1 ;
  }

  #y1, #b1 {
    height: 180%; /* Reduz a altura dos raios amarelo e azul */
    transform: scale(2.0, 1); /* Alarga ou encolhe horizontalmente sem afetar a altura */
    top: -55%; /* Ajusta para manter a posição relativa aos outros elementos */
    left: -6%;
}

#y2, #b2 {
    height: 200%; /* Reduz a altura dos outros raios */
    transform: scale(2.0, 1); /* Alarga ou encolhe horizontalmente sem afetar a altura */
    top: -50%; /* Ajusta para manter a proporção achatada */
    left: -8%;
}




/* Scrollbar Customizado */
::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 100px;
}

/* Imagem de Tela Cheia */
.fullscreen-image {
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/imgFront.jpg');
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escurecido */
    transition: background-color 0.9s;
    cursor: pointer;
    z-index: 1000;
}

.message {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.giflanding {
    width: 18%;
    height: auto; /* Mantém a proporção */
}

.buttonHolder {
    position: absolute;
    bottom: 90px;
    width: 100%;
    z-index: 1001;
}

.next-section {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}



.navbar {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    background-color: rgba(2, 0, 0, 0.692);
    display: none; 
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.nav-link {
    color: #000980;
}

.nav-link:hover {
    color: #0056b3;
}

/* Personalize o botão de login, se necessário */
.btn-outline-primary {
    margin-left: 15px; /* Espaçamento à esquerda */
}



.login{
    position: relative;
    top: -70px;
}

.login a {
    position: absolute;
    right: 20px;
    padding: 10px 20px;
    color: wheat;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s;
    z-index: 1001;
}

.login a:hover {
    color: rgb(0, 98, 196);
}

.hidden {
    display: none;
}

.noscroll {
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}



video {
    width: 100%;
    height: auto; 
    object-fit: cover;
}


/* Estilos Responsivos usando Bootstrap */
@media (max-width: 768px) {
    .giflanding {
        width: 25%;
    }

    .fullscreen-image{
        background-image: url('../img/imgMobile.jpg');
    }

    .message {
        font-size: 1.6rem;
    }

    .navbar-nav {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        align-items: flex-start; /* Alinha à esquerda */
    }

    .nav-item {
        margin-bottom: 10px; /* Adiciona espaço entre os itens */
    }

    .electric{
        margin-left: 60px;
    }

    video {
        
        height: 100%; /* Ou ajuste conforme necessário */
        width: auto; /* Permite que a largura do vídeo se ajuste automaticamente */
        left: 30px;
    }

    
    
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        align-items: flex-start; /* Alinha à esquerda */
    }

    .nav-item {
        margin-bottom: 10px; /* Adiciona espaço entre os itens */
    }

    .login a {
        font-size: 1.1rem;
        top: 50px; /* Ajusta a posição do login para evitar sobreposição */
    }


@media (max-width: 1200px) {
    .message {
        font-size: 2rem;
    }

    .giflanding {
        width: 18%;
    }
}}
}