* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
    margin: 0; /* Remove margens que podem causar o scroll */
}

::-webkit-scrollbar{
    width: 8px;
    background-color: black
}

::-webkit-scrollbar-track{
    background-color: transparent;
    padding: 2px;
}

::-webkit-scrollbar-thumb{
    background-color: wheat;
    border-radius: 100px;
}

.message {
    color: white; /* Cor do texto */
    font-size: 2rem; /* Tamanho do texto */
    text-align: center; /* Centraliza o texto */
    display: block; /* Certifique-se de que a mensagem possa ser mostrada */
}


.fullscreen-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nextcircuit {
    display: grid;
    place-items: center; 
    width: 100%;
    height: 100vh; /* Mantém a altura da tela */

}

.nextcircuit img {
    width: 100%;
    height: 100%; /* Define a altura como 100% do contêiner */
}

.race {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.race img{
    width: 100%;
    height: 100vh;
}

.giflanding{
    width: 18%;
    height: 18%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.9s;
    cursor: pointer;
    flex-direction: column;
}

.menu {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 120px;
    z-index: 10;
}

.menu a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s;
    white-space: nowrap;
}

.menu a:hover {
    color: #ff4b4b;
}

.login a {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ;
}

.login a:hover {
    text-decoration: none;
    color: red;
}

.hidden {
    display: none;
}

.noscroll {
    overflow: hidden;
}


/* Responsividade para tablets (telas menores que 768px) */
@media (max-width: 768px) {
    .menu {
        flex-direction: row;
        gap: 30px; /* Reduz o espaçamento entre os itens para caber na tela */
    }

    .menu a {
        font-size: 1.0rem;
        padding: 11px 12px;
    }

    .login a {
        font-size: 1.1rem;
        top: 60px; /* Desce o login um pouco mais para evitar amontoar com o menu */
    }

    .giflanding {
        width: 25%;
        height: 25%;
    }


}

/* Responsividade para mobile (telas menores que 480px) */
@media (max-width: 480px) {
    .menu {
        flex-direction: row;
        gap: 20px;
    }

    .menu a {
        font-size: 1.03rem;
        padding: 12px 10px;
    }

    .login a {
        font-size: 1rem;
        top: 70px; /* Desce ainda mais o login para telas pequenas */
    }

    .message {
        font-size: 1.6rem;
    }

    .giflanding {
        width: 35%;
        height: 35%;
    }
}
