@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #11111e;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    min-height: 100%;
    overflow-y: overlay;
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */
    padding-top: 80px;        /* Evita sobreposição com a navbar fixa */
}

/* scrollbar */

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    padding: 2px;
}

::-webkit-scrollbar-thumb{
    background-color: wheat;
    border-radius: 100px;
}

/* Navbar */
.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 50px;
    background-color: #0d0d17;
    box-shadow: 10px 10px 20px rgba(3, 3, 4, 1);
    transition: padding 0.3s, box-shadow 0.3s;
    z-index: 1000;
}

.header.sticky {
    padding-block: 10px;
    box-shadow: inset 0 -1.5px 3px rgba(255, 255, 255, 0.3);
}

.logo {
    font-size: 45px;
    font-weight: 700;
    color: wheat;
    transition: transform 0.6s;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.15);
}

nav ul {
    display: flex;
}

nav div.bar {
    display: none;
    position: absolute;
    right: 80px;
    margin-top: -10px;
    font-size: 25px;
    cursor: pointer;
}

nav div.bar.active .open {
    display: none;
}

nav div.bar .close {
    display: none;
}

nav div.bar.active .close {
    display: initial;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
    padding: 0 10px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: border 0.3s, transform 0.3s;
}

nav ul li:hover {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: scale(1.2);
}

a:hover {
    color: rgb(0, 84, 167);
}

nav ul li a {
    text-decoration: none;
    color: wheat;
    letter-spacing: 1px;
}

nav div.bar i {
    font-size: 30px;
    color: #fff;
}
/* Tabela de Classificação-GRID  */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 80px;
    gap: 30px; 
    width: 100%;
    padding: 20px;
}

/* Tabela de Classificação pilotos */

.table-container-pilotos {
    grid-column: 1; 
    grid-row: 2;
    background-color: #1b1b32;
    border-radius: 10px;
    width: 800px;
    overflow-x: auto;
    margin: 0; 
    max-width: 100%; 
}

.table-container-pilotos h1 {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: wheat;
    border-bottom: 2px solid wheat;
}

.table-container-pilotos table {
    width: 100%;
    border-collapse: collapse;
}

.table-container-pilotos th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.table-container-pilotos th {
    background-color: #141425;
    text-align: center;
}

.table-container-pilotos tr{
    color: wheat;
}

.table-container-pilotos td:nth-child(1), 
.table-container-pilotos td:nth-child(4) {
    text-align: center;
}

.table-container-pilotos tr:hover {
    background-color: #141425;
}

/* Barra de rolagem customizada */
.table-container-pilotos {
    max-height: 550px;
    overflow-y: auto;
}

.table-container-pilotos::-webkit-scrollbar {
    width: 12px;
}

.table-container-pilotos::-webkit-scrollbar-track {
    background: #141425;
    border-radius: 10px;
}

.table-container-pilotos::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
    border: 3px solid #141425;
}

.table-container-pilotos::-webkit-scrollbar-thumb:hover {
    background-color: wheat;
}

/* Tabela de Classificação Equipes */

.table-container-equipes {
    grid-column: 2; 
    grid-row: 2;
    background-color: #1b1b32;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    overflow-x: auto;
    margin: 0; 
    max-width: 100%; 
}

.table-container-equipes h1 {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: wheat;
    border-bottom: 2px solid wheat;
}

.table-container-equipes table {
    width: 100%;
    border-collapse: collapse;
}

.table-container-equipes th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.table-container-equipes th {
    background-color: #141425;
    text-align: center;
}

.table-container-equipes tr{
    color: wheat;
}

.table-container-equipes td:nth-child(1), 
.table-container-equipes td:nth-child(4) {
    text-align: center;
}

.table-container-equipes tr:hover {
    background-color: #141425;
}

/* Barra de rolagem customizada */
.table-container-equipes {
    max-height: 550px;
    overflow-y: auto;
}

.table-container-equipes::-webkit-scrollbar {
    width: 12px;
}

.table-container-equipes::-webkit-scrollbar-track {
    background: #141425;
    border-radius: 10px;
}

.table-container-equipes::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
    border: 3px solid #141425;
}

.table-container-equipes::-webkit-scrollbar-thumb:hover {
    background-color: wheat;
}

/* Tabela de Corridas-locais */

.table-container-corridas {
    grid-column: 3; 
    grid-row: 2;
    background-color: #1b1b32;
    border-radius: 10px;
    width: 450px;
    height: 525px;
    overflow-x: auto;
    margin: 0; 
    max-width: 100%; 
}

.table-container-corridas h1 {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: wheat;
    border-bottom: 2px solid wheat;
}

.table-container-corridas table {
    width: 100%;
    border-collapse: collapse;
}

.table-container-corridas th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.table-container-corridas th {
    background-color: #141425;
    text-align: center;
}

.table-container-corridas tr{
    color: wheat;
}

.table-container-corridas td:nth-child(1), 
.table-container-corridas td:nth-child(4) {
    text-align: center;
}

.table-container-corridas tr:hover {
    background-color: #141425;
}

/* Barra de rolagem customizada */
.table-container-corridas {
    max-height: 550px;
    overflow-y: auto;
}

.table-container-corridas::-webkit-scrollbar {
    width: 12px;
}

.table-container-equipes::-webkit-scrollbar-track {
    background: #141425;
    border-radius: 10px;
}

.table-container-corridas::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
    border: 3px solid #141425;
}

.table-container-corridas::-webkit-scrollbar-thumb:hover {
    background-color: wheat;
}

/* bandeiras */

.bandeira {
    text-align: left;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}